@import url('https://fonts.googleapis.com/css2?family=Bitcount:wght@100..900&display=swap');
body{
    color:cadetblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: burlywood;
    font-family: "Bitcount", system-ui;
    font-size: 140%;
}
img {
    max-width:300px;
    max-height: 300px;
    border: 10px solid #ff0000;
    border-radius: 20px;
    margin: 20px;
    
}
#personaje{
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: self-start;
    height: 100%;
    width: 1000px;
    justify-content:space-evenly;
    font-size: 115%;
}
.valores{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: start;
    width: 560px;
}
#back{
    color:cadetblue;
    
    border-radius: 10px;
    font-size: 150%;
    padding: 5px;
    text-decoration: none;
    border: 5px solid #ff0000;
}
.valores h3{
    color: brown;
}
#img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
