
@import url('https://fonts.googleapis.com/css2?family=Bitcount:wght@100..900&family=Mouse+Memoirs&display=swap');

body{
    background-color: darkgoldenrod;
    font-family: "Mouse Memoirs", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 140%;
}
h3{
    color: forestgreen;
}
#personaje{
    font-size: 115%;
    display: flex;
    width: 500px;
    justify-content: center;
    align-items: center;

}
.caracteristicas {
    display: flex;
    align-items: center;
    width: 600px;
}
.caracteristicas div{
    text-align: center;
    max-height: 325px;
    width: 300px;
    margin: 20px;
    padding: 10px;
    border: 5px dashed brown;
    border-radius: 10px;
    background-color: wheat;
}
img{
    max-width: 50%;
    max-height: 50%;
    border: 7px;
    border-style:dashed;
    border-color: brown;
    border-radius: 10px;
}
#back{
    color:forestgreen;
    margin: 20px;
    border-radius: 10px;
    font-size: 150%;
    padding: 5px;
    text-decoration: none;
    border: 5px dashed brown;
}