body{
  font-size: 150%;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    font-family:monospace;
    align-items: center;
}
a {
  text-align: center;
    color: blue;
    text-decoration: none;
    font-size: 200%;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 3px solid salmon;
    transform: scale(1);
      transition: transform 0.5s ease;
      width: 415px;

}
a:hover {
    background-color: burlywood;
    text-transform: uppercase;
    transform: scale(1.2);
      transition: transform 0.5s ease;

}
h1 {
    font-size: 325%;
    text-transform: uppercase;
}